<?xml version="1.0" encoding="UTF-8"?>
<!--        https://www.baeldung.com/java-logging-intro-->
<!--<Configuration>-->
<!--<Configuration status="debug" name="log4j2_debug.log" packages="">-->
<Configuration status="WARN">

    <Appenders>
        # Console appender
        <Console name="stdout-out" target="SYSTEM_OUT">
            # Pattern of log message for file appender
            <PatternLayout pattern="%d{yyyy-MM-dd HH:mm:ss} [%t]%-5p %m%n"/>
        </Console>

        # File appender
        <File name="debug-log" fileName="log4j2_debug.log" append="true">
            <PatternLayout>
                # Pattern of log message for file appender
                <Pattern>%d{yyyy-MM-dd HH:mm:ss} [%t] %-5p %m%n</Pattern>
            </PatternLayout>
        </File>
        <File name="error-log" fileName="log4j2_error.log" append="true">
            <PatternLayout>
                # Pattern of log message for file appender
                <Pattern>%d{yyyy-MM-dd HH:mm:ss} [%t] %-5p %m%n</Pattern>
            </PatternLayout>
        </File>

    </Appenders>
<!--Trace < Debug < Info < Warn < Error < 0Fatal-->
    <Loggers>
        <Logger name="global.goit" level="Debug">
            <AppenderRef ref="error-log" level="Error"/>
            <AppenderRef ref="debug-log" level="Debug"/>
<!--            <AppenderRef ref="stdout-out" level="Info"/>-->
        </Logger>
        <Logger name="global.goit" level="Debug" >
            <AppenderRef ref="error-log" level="Error"/>
            <AppenderRef ref="debug-log" level="Debug"/>
<!--            <AppenderRef ref="stdout-out" level="Info"/>-->
        </Logger>

        <Root level="Info">
            <AppenderRef ref="stdout-out"/>
        </Root>
    </Loggers>

</Configuration>

        <!--

                <?xml version="1.0" encoding="UTF-8"?>
                &lt;!&ndash; Extra logging related to initialization of Log4j.
                 Set to debug or trace if log4j initialization is failing. &ndash;&gt;
        <Configuration status="warn">
        <Appenders>
            &lt;!&ndash; Console appender configuration &ndash;&gt;
            <Console name="console" target="SYSTEM_OUT">
                <PatternLayout
                        pattern="%d{yyyy-MM-dd HH:mm:ss} %-5p %c{1}:%L - %m%n"/>
            </Console>
        </Appenders>
        <Loggers>
            &lt;!&ndash; Root logger referring to console appender &ndash;&gt;
            <Root level="info" additivity="false">
                <AppenderRef ref="console"/>
            </Root>
        </Loggers>
        </Configuration>

        -->
